.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  text-transform: none;
}
.reveal pre {
  margin-bottom: 2em;
}
.reveal pre code {
  padding: 0.75em;
}
.reveal strong {
  color: yellow;
}

div.image-group {
  background: white;
  padding: 1em;
  margin-bottom: 1em;
}

section.section-logo img {
  background: none;
  border: none;
  box-shadow: none;
  margin: 0;
}

section.section-logo-large img {
  background: none;
  border: none;
  box-shadow: none;
  margin: 0;
  height: 10em;
}

div.smaller {
  font-size: smaller;
}
